<!DOCTYPE html>
<html>
{{>links}}

<body>
  <div id='main'>
    {{>header}}

    <center>
      <b><h1 style='font-size: 60px;'>{{title}}</h1></b>
      <div id='help'>
        {{text}}
      </div>
    </center>
  </div>

  {{>footer}}
  {{>scripts}}

</body>
</html>