<!-- Footer -->
<footer class="page-footer font-small bg-dark">

  <!-- Copyright -->
  <div class="footer-copyright text-center ppy-3" style="color:#fff;">
    © 2020 Copyright:
    <a href="" style="color:#fff;"> Amaan Qureshi</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->