#pcity,#pcountry,#ptemp,#pmin,#pmax,#pweather,#phumidity,#pwind {

  color: #000fff;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.city,.country,.temp,.min,.max,.weather,.humidity,.wind {

  color: #9800dd;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

#help_error, #help ,#about,#error {
  font-size: 30px;
  color: magenta;
}

.card {
  min-height: 200px !important;
  width: 100%;
  margin-bottom: 20px !important;
}


.search
{
  border: 2px solid black;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 65%;
}

.search input[type="text"]
{
  border: 0px;
  width: 65%;
  padding: 10px 10px;
  text-align: center;
}
.search input[type="text"]::placeholder
{
  text-align: center;
}

.search input[type="text"]:focus
{
  outline: 0;
}

.search input[type="submit"]
{
  border: 0px;
  background: none;
  background-color: black;
  color: white;
  float: right;
  padding: 10px;
  border-radius-top-right: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-radius-top-right: 5px;
  border-radius-bottom-right: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-radius-bottom-right: 5px;
  cursor: pointer;
}

.msg {
  text-align: center;
  color: magenta;
  margin: 10px;
}

@media only screen and (min-width : 150px) and (max-width : 780px) {

  .search
  {
    width: 90%;
    margin: auto;
  }
  .card {
    min-height: 200px !important;
    width: 90%;
    margin-bottom: 20px !important;
    margin: auto;
  }



}